body {
    background-color: red;
}

#container {
    font-size: 16px;
}
.main_heading {
    background-color: grey;
    color: blueviolet;
}
.main {
     background-color: blue;
}
.main_footer {
     background-color: green;
}
.main_header, 
.main_footer {
    color: red;
}
